
    
    <pd-page-detail 
        pd-label="Collection"
        pd-add="add()"
        pd-cancel-add="cancelAdd()"
        pd-save="save()",
        pd-model-name="collection.name",
        pd-label-list="Discs",
        pd-model-list="collection.discs",
        pd-menu-list="menu"
        pd-item-display="name"
        pd-item-click="itemClick(item)"></pd-page-detail>

    <md-content class="add-disc-container" ng-if="addMode" ng-controller="addDiscController">
        <md-card>
            <md-toolbar md-scroll-shrink class="md-accent" flex>
                <div class="md-toolbar-tools">
                    <h2 flex md-truncate>Select a disc to add</h2>
                </div>
            </md-toolbar>
            
            <form>
                <md-autocomplete md-autofocus md-selected-item="selectedItem" md-search-text="searchText" md-items="item in query(searchText)" md-item-text="item.name", md-no-cache="true" placeholder="Type to search for a disc">
                    <md-item-template>
                        <span md-highlight-text="searchText">{{item.name}}</span>
                    </md-item-template>
                    <div ng-messages="autocompleteForm.autocomplete.$error">
                        <div ng-message="required">This field is required</div>
                    </div>
                </md-autocomplete>
            

                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary" ng-submit ng-click="add()">Add</md-button>
                </md-card-actions>
            </form>
        </md-card>
    </md-content>

